
.container-neckless {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-wrapper-neckless {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65vw;
    height: 70vh;

  }

  .image-neckless{
    width: 50%;
    height: 75vh;
    background-image: url('../../../asset/Images/Neckless.jpg');
    background-size:     cover; 
    background-repeat:   no-repeat;
    background-position: center center;  
  }

  .title-neckless{
      position: absolute;
      top:50%;
      left: 55%;
      z-index: 3;
      font-size: 2rem;
      font-weight: 200;
      letter-spacing: 0.7vw;
  }